@import "./utilities.css";

:root {
  --primary: #3dcfd2;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background: var(--dark);
  height: 800px;
}

.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}

header nav {
  padding: 2rem 0;
}

header nav .branding {
  margin-right: 3rem;
}

header nav .left a {
  color: var(--pure);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

header nav .left a:hover {
  color: var(--primary);
}
