@import "./utilities.css";

:root {
  --primary: #3dcfd2;
  --dark: #161616;
  --pure: #ffffff;
  --ternary: #898989;
  --light: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background: var(--dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 77% 90%, 0 100%);
}

.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}

header nav {
  padding: 2rem 0;
}

header nav .branding {
  margin-right: 3rem;
}

header nav .left a {
  color: var(--pure);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

header nav .left a:hover {
  color: var(--primary);
}

.hero {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}

.hero .left img {
  width: 400px;
}

.hero .right {
  color: var(--pure);
  margin-top: -7rem;
}

.hero .right h6 {
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.hero .right h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero .right h1 span {
  color: var(--primary);
}

.hero .right p {
  line-height: 1.9;
  margin-bottom: 2rem;
}